---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1>Archive</h1>

{% assign postslist = collections.posts %}
{% include "postslist.liquid" %}

<!-- Include Pagination -->
{% include "components/pagination.liquid" with pagination %}
