<h1>Tags</h1>

<ul>
{% for tag in collections | keys | filterTagList | sortAlphabetically %}
	{% assign tagUrl = "/tags/" | append: tag | append: "/" %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
