<div class="row">
{% for post in postslist | reverse %}
  <div class="col-md-4 mb-4">
    {% include "components/card.liquid" with {
      title: post.data.title | default: "Untitled",
      description: post.data.description | default: "No description available.",
      url: post.url,
      image: post.data.image | default: null
    } %}
  </div>
{% endfor %}
</div>
