<aside class="bg-light p-3">
  <h5 class="text-uppercase">Sidebar</h5>
  <ul class="list-unstyled">
    <li><a href="/" class="text-dark">Home</a></li>
    <li><a href="/about/" class="text-dark">About</a></li>
    <li><a href="/blog/" class="text-dark">Blog</a></li>
  </ul>
</aside>
